<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>News</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="feed-content">
  <div *ngIf="available; else a">
    <div class="feed-item" *ngFor="let pro of projects">
      <ion-card (click)="goToDetails(pro.id, pro.attach_type)">
        <ion-card-header>
          <ion-card-tittle>{{pro.name}}</ion-card-tittle><br>
          <ion-card-tittle><b>{{pro.subject}}</b></ion-card-tittle>
        </ion-card-header>
        <!-- <preload-image [ratio]="{w:3, h:2}" [src]="pro.pic_path" title="pro.descs" style="padding-bottom: 50% !important;"></preload-image> -->
        <img [src]="pro.pic_path" title="pro.descs" *ngIf='pro.p'>
        <iframe [src]="pro.youtube" frameborder="0" *ngIf='pro.y' width="100%" allowfullscreen></iframe>
        <button *ngIf='pro.l' type="button" ion-button outline (click)="OpenUrl(pro.article)" class="button-link">
          <h3>Click for Visit the Website</h3>
        </button>
        <ion-card-footer>
          <ion-card-content>{{pro.date}}</ion-card-content>
        </ion-card-footer>

      </ion-card>
    </div>
    <!-- <div>
      <ion-item>
        <button type="button" ion-button block large (click)="OpenUrl()">
          <h3>Visit Our Website</h3>
        </button>
      </ion-item>
    </div> -->
  </div>
  <ng-template #a>
    <ion-card>
      <ion-card-content>
        <ion-card-title class="item-title">
          No News
        </ion-card-title>
      </ion-card-content>

    </ion-card>
  </ng-template>
</ion-content>
