paymentDtl-page {
    // title header black
    ion-header .toolbar-title {
        color: $title-header;
    }
    .grid-example {
        padding: 10px 5px 0px 5px;
        flex-wrap: wrap;
        .grid-item {
            padding: 0px 5px 10px;
            &>.double-item {
                &>.grid-item {
                    padding: 5px 0px;
                    &:first-child {
                        padding-top: 0px;
                    }
                    &:last-child {
                        padding-bottom: 0px;
                    }
                }
            }
            .grid-item-wrapper {
                position: relative;
                padding-bottom: 100%;
                height: 40px;
                background-color: $white-c;
                .grid-item-inner {
                    background-color: #fff;
                    border: 10px;
                    border-color: red;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .item-title {
                        margin: 0px;
                        color: $black-c;
                        text-align: center;
                    }
                    &.multi-line {
                        flex-wrap: wrap;
                        .item-title {
                            flex: 0 0 100%;
                            max-width: 100%;
                            margin: 5px 0px;
                        }
                    }
                }
            }
        }
    }
    .grid-example .grid-item {
        padding-bottom: 2px !important;
    }
    .btn {
        /* border: 0;
      font-family: inherit;
      font-style: inherit;
      font-variant: inherit;
      line-height: 1;
      text-transform: none;
      cursor: pointer;
      -webkit-appearance: button; */
        color: white;
        background-color: #ff720d;
        /* margin-left: 50px; */
        margin-left: 35px;
        padding: 13px;
        border-radius: 8px;
        font-size: 17px;
    }
    .card-ios {
        border-left-style: none !important;
        border-right-style: none !important;
        border-top-style: none !important;
        box-shadow: 0 1px 5px -3px #333 !important;
    }
    .modal-wrapper {
        z-index: 10;
        height: 100%;
        contain: strict;
    }
    @media only screen and (min-width: 768px) and (min-height:1024px) {
        .modal-wrapper {
            top: calc(50% - (800px/2)) !important;
            position: absolute;
            width: 600px;
            height: 800px !important;
        }
    }
}
