@mixin header-styles($background, $color) {
    .toolbar-background {
        border: none !important;
        background-color: $background-header;
    }
    .toolbar-title{
        color: $title-header;
    }
    .back-button,
    .bar-button {
        // color: $color;
        color: $button-back
    }
}

ion-header {
    @include header-styles(color($colors, header, base), color($colors, header, contrast));
}