<ion-header class="signup-header auth-header">
    <ion-navbar>
      <ion-title>Reset Password</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="signup-content auth-content">
    <h2 class="auth-title">Reset Password</h2>
    <form class="signup-form auth-form" [formGroup]="signup_form" (ngSubmit)="doSignup()">
      <!-- <show-hide-container> 
      <ion-item>
        <ion-input type="password" placeholder="Old Password" formControlName="oldpass" show-hide-input></ion-input>
      </ion-item>
      </show-hide-container>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.oldpass">
          <div class="error-message" *ngIf="signup.get('oldpass').hasError(validation.type) && (signup.get('oldpass').dirty || signup.get('oldpass').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div> -->
      <div formGroupName="matching_passwords">
      <show-hide-container> 
        <ion-item>
          <ion-input type="password" placeholder="Password" formControlName="newpass" show-hide-input></ion-input>
        </ion-item>
      </show-hide-container>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.newpass">
          <div class="error-message" *ngIf="signup_form.get('matching_passwords').get('newpass').hasError(validation.type) && (signup_form.get('matching_passwords').get('newpass').dirty || signup_form.get('matching_passwords').get('newpass').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div> 
      <show-hide-container>
        <ion-item>
          <ion-input type="password" placeholder="Confirm password" formControlName="confpass" show-hide-input></ion-input>
        </ion-item>
      </show-hide-container>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.confpass">
          <div class="error-message" *ngIf="signup_form.get('matching_passwords').get('confpass').hasError(validation.type) && (signup_form.get('matching_passwords').get('confpass').dirty || signup_form.get('matching_passwords').get('confpass').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div> 
    </div>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.matching_passwords">
          <div class="error-message" *ngIf="signup_form.get('matching_passwords').hasError(validation.type) && (signup_form.get('matching_passwords').dirty || signup_form.get('matching_passwords').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <button ion-button block class="auth-action-button signup-button" type="submit" [disabled]="!signup_form.valid">Reset Password</button>
    </form>

  

  </ion-content>
  