tickethase-page {
            .feed-item {
                float: left;
            }
            // line bottom oren
            .card-ios {
                // border-bottom-color: #ff720d !important;
                border-bottom-color: $list-bawah-ion-card !important;
                border-bottom-width: 5px !important;
            }
            // title header black
            ion-header .toolbar-title {
                color: $title-header;
            }
            .project_des {
                text-align: left;
                // font-size: 1.5rem !important;
                // color: #ff720d;
                // font-size: 12px;
                margin-top: 0px !important;
                color: #555 !important;
                // margin-left: 10px;
                font-family: 'Exo-Regular' !important;
                padding-top: 10px;
                padding-left: 5px;
                // color: #222 !important;
                font-size: 1.8rem;
                font-weight: 600;
            }
            .div-welcome {
                height: 40px;
                background-color: white;
                margin-top: 0px;
                // margin-bottom: 1rem;
                margin-left: 0px;
            }
        }
