// @font-face {
//     font-family: 'Exo-Regular';
//     font-style: normal;
//     font-weight: 400;
//     src: url("../assets/fonts/Exo-Medium.ttf") format("truetype");
//   }
  
//   @font-face {
//     font-family: 'Exo-SemiBold';
//     font-style: normal;
//     font-weight: 400;
//     src: url("../assets/fonts/Exo-SemiBold.ttf") format("truetype");
//   }
  
//   @mixin categories-title-style($color) {
//     display: inline-block;
//     width: 100%;
//     text-align: center;
//     font-size: 8vw;
//     font-weight: 900;
//     letter-spacing: 0.4px;
//     color: $color;
//     margin: 0px;
//   }
  
  reportNUP-page {
  
    $categories-heading-image-height: 150px;
    $categories-grid-padding: 10px;
    $categories-horizontal-list-padding: 10px;
    .listing-header {
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 3px 5px -5px #333 !important;
        .header-logo {
            width: 34vw;
            font-family: 'Exo-Regular' !important;
        }
    }
    .listing-content {
        // margin-top: -10px;
        // margin-bottom: 41px;
        // background-color: #f3f3f3 !important;
        // background-image: url('../assets/images/dashbg.jpg');
        background-color: #f3f3f3;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .image-heading {
            height: $categories-heading-image-height;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            .bg-overlay {
                z-index: 1;
                background-color: rgba($black-c, .6);
            }
            ion-spinner {
                z-index: 2;
            }
            @include spinner-color($white);
            .heading-row {
                // height: 100%; biar gak responsive tulisannya gak gerak2
                width: 100%;
                z-index: 3;
                position: absolute;
                align-items: center;
                .main-title {
                    @include categories-title-style($white);
                    font-size: 10vw;
                }
            }
        }
        @media only screen and (min-width: 768px) {
            .image-heading {
                height: 35%;
            }
        }
        .categories-title {
            font-size: 1.4rem !important;
            font-weight: 400;
            letter-spacing: 0.7px;
            // color: $white-d;
            margin: 8px 16px 16px;
            font-family: 'Exo-Regular' !important;
            color: #6a6d6d !important;
        }
        .horizontal-categories {
            border-bottom: 10px solid $white-a;
            @include element-shadow();
            padding-bottom: 16px;
            .scroll-content {
                position: relative;
                contain: style layout;
            }
            preload-image {
                border-radius: 50%;
                img {
                    border-radius: 50%;
                }
            }
            .categories-row {
                flex-wrap: nowrap;
                &::after {
                    content: '';
                    flex: 0 0 $categories-horizontal-list-padding;
                    max-width: $categories-horizontal-list-padding;
                }
            }
            .horizontal-item {
                padding: 0px 0px 0px $categories-horizontal-list-padding;
            }
        }
        .grid-categories {
            // padding: 0px ($categories-grid-padding/2);
            padding-top: 30px;
            flex-wrap: wrap;
            .category-item {
                padding: 0px ($categories-grid-padding/2) $categories-grid-padding;
                .category-heading {
                    padding-bottom: 100%;
                    border-radius: 20px;
                    .bg-overlay {
                        z-index: 1;
                        background-color: rgba($black-c, .6);
                    }
                    ion-spinner {
                        z-index: 2;
                    }
                    @include spinner-color($white);
                    .heading-row {
                        height: 100%;
                        width: 100%;
                        z-index: 3;
                        position: absolute;
                        align-items: center;
                        .category-title {
                            @include categories-title-style($white);
                        }
                    }
                }
            }
        }
    }
    // title hitam
    ion-header .toolbar-title {
        // color: #222;
        color: $title-header;
    }
  
    .button-logout {
      font-size: 22px;
      float: right;
      background-color: transparent;
      color: $button-logout;
    }
  
    //  ------------- BASE SQUARE ------------------- //
    .square {
      float: left;
      width: 30%;
      padding-bottom: 10%;
      margin: 1.66%;
      background-color: #fff;
      font-size: 1rem;
      line-height: 1.25;
      // background: #212121;
      background: nb-theme(color-bg);
      color: #ffffff;
      color: nb-theme(color-fg-heading);
      margin-bottom: 1.5rem;
      border-radius: 0.5rem;
      // box-shadow: 0 3px 5px -3px #333;
      box-shadow: 0 3px 5px -3px #333;
      font-weight: 400;
      cursor: pointer;
      border: 2px solid#c1c1c0;
      border-radius: 5px;
    }
  
    .contentss {
      height: 80%;
      width: auto;
      display: block;
      margin-bottom: -60%;
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
      border-top-left-radius: nb-theme(card-border-radius);
      border-top-right-radius: nb-theme(card-border-radius);
    }
  
    .textt {
      display: block;
      // margin-bottom: -88%;
      margin-bottom: -140%;
      margin-top: 95%;
      // margin-top: 75%;
      margin-left: auto;
      margin-right: auto;
      vertical-align: bottom;
      text-align: center;
      font-family: 'Exo-Regular' !important;
      font-weight: nb-theme(font-weight-bold);
      font-size: 8px;
      width: 100%;
      font-size: 3.5vw;
      color: #000; font-weight: 600
    }
  
    .apasi{
      background-color: transparent;
      height: 150px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top:65px;
      margin-bottom:15px
    }
  
    //  ------------- END BASE SQUARE ------------------- //
    //  ------------- POTRAIT SQUARE ------------------- //
    @media only screen and (min-width: 360px) and (min-height: 640px) {
      .square {
          float: left;
          width: 30%;
          padding-bottom: 16%;
          margin: 1.66%;
          background-color: #fff;
          font-size: 1rem;
          line-height: 1.25;
          // background: #212121;
          background: nb-theme(color-bg);
          color: #ffffff;
          color: nb-theme(color-fg-heading);
          margin-bottom: 3rem;
          border-radius: 0.5rem;
          box-shadow: 0 3px 5px -3px #333;
          font-weight: 400;
          cursor: pointer;
          border: 2px solid#c1c1c0;
          // border-radius: 5px;
          border-radius: 20px;
      }
      .contentss {
          height: 145%;
          width: auto;
          display: block;
          // margin-bottom: -60%;
          // margin-top: 10%;
          margin-bottom: -70%;
          margin-top: 20%;
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: nb-theme(card-border-radius);
          border-top-right-radius: nb-theme(card-border-radius);
      }
      .textt {
          display: block;
          // margin-bottom: -88%;
          // margin-bottom: -120%;
          // margin-top: 75%;
          margin-bottom: -150%;
      // margin-top: 93%;
      margin-top: 95%;
          margin-left: auto;
          margin-right: auto;
          vertical-align: bottom;
          text-align: center;
          // font-family: 'Exo-Regular' !important;
          // // font-family: 'Exo-SemiBold' !important;
          // font-weight: nb-theme(font-weight-bold);
          font-size: 8px;
          width: 100%;
          // font-size: 2.4vw;
          font-size: 3.5vw;
          color: #000; font-weight: 600
      }
    }
    @media only screen and (max-width: 320px) {
      .square {
          float: left;
          width: 30%;
          // padding-bottom: 15%;
          padding-bottom: 11%;
          margin: 1.66%;
          background-color: #fff;
          font-size: 1rem;
          line-height: 1.25;
          // background: #212121;
          background: nb-theme(color-bg);
          color: #ffffff;
          color: nb-theme(color-fg-heading);
          margin-bottom: 3rem;
          border-radius: 0.5rem;
          box-shadow: 0 3px 5px -3px #333;
          font-weight: 400;
          cursor: pointer;
          border: 2px solid#c1c1c0;
          border-radius: 20px;
      }
      .contentss {
          // height: 80%;
          // width: auto;
          // display: block;
          // margin-bottom: -60%;
          // margin-top: 10%;
          height: 100%;
          width: auto;
          display: block;
          // margin-bottom: -60%;
          // margin-top: 10%;
          margin-bottom: -70%;
          margin-top: 20%;
  
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: nb-theme(card-border-radius);
          border-top-right-radius: nb-theme(card-border-radius);
      }
      .textt {
          display: block;
          // margin-bottom: -120%;
          // margin-top: 75%;
      //
      margin-bottom: -150%;
      margin-top: 95%;
          margin-left: auto;
          margin-right: auto;
          vertical-align: bottom;
          text-align: center;
          font-family: 'Exo-Regular' !important;
          font-weight: nb-theme(font-weight-bold);
          font-size: 8px;
          width: 100%;
          // font-size: 2.4vw;
          font-size: 3.5vw;
          color: #000; font-weight: 600
      }
    }
  
    @media only screen and (min-width: 375px) {
      .square {
          float: left;
          width: 30%;
          padding-bottom: 15%;
          margin: 1.66%;
          background-color: #fff;
          font-size: 1rem;
          line-height: 1.25;
          // background: #212121;
          background: nb-theme(color-bg);
          color: #ffffff;
          color: nb-theme(color-fg-heading);
          margin-bottom: 3rem;
          border-radius: 0.5rem;
          box-shadow: 0 3px 5px -3px #333;
          font-weight: 400;
          cursor: pointer;
          border: 2px solid#c1c1c0;
          // border-radius: 5px;
          border-radius: 20px;
      }
      .contentss {
          height: 120%;
          width: auto;
          display: block;
          // margin-bottom: -60%;
          // margin-top: 10%;
          margin-bottom: -60%;
          margin-top: 20%;
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: nb-theme(card-border-radius);
          border-top-right-radius: nb-theme(card-border-radius);
      }
      .textt {
          display: block;
          // margin-bottom: -88%;
          // margin-bottom: -120%;
          // margin-top: 75%;
          margin-bottom: -140%;
      // margin-top: 93%;
      margin-top: 90%;
          margin-left: auto;
          margin-right: auto;
          vertical-align: bottom;
          text-align: center;
          // font-family: 'Exo-Regular' !important;
          // // font-family: 'Exo-SemiBold' !important;
          // font-weight: nb-theme(font-weight-bold);
          font-size: 8px;
          width: 100%;
          // font-size: 2.4vw;
          font-size: 3.5vw;
          color: #000; font-weight: 600
      }
    }
  
    @media only screen and (min-width: 414px) {
      .square {
          float: left;
          width: 30%;
          // width: 21%;
          // padding-bottom: 18%;
          padding-bottom: 50px;
          margin: 1.66%;
          background-color: #fff;
          font-size: 1rem;
          line-height: 1.25;
          // background: #212121;
          background: nb-theme(color-bg);
          color: #ffffff;
          color: nb-theme(color-fg-heading);
          margin-bottom: 3rem;
          border-radius: 0.5rem;
          box-shadow: 0 3px 5px -3px #333;
          font-weight: 400;
          cursor: pointer;
          border: 2px solid#c1c1c0;
          border-radius: 20px;
      }
      .contentss {
          height: 100%;
          width: auto;
          display: block;
          margin-bottom: -60%;
          // margin-top: 10%;
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: nb-theme(card-border-radius);
          border-top-right-radius: nb-theme(card-border-radius);
      }
      .textt {
          display: block;
          // margin-bottom: -88%;
          // margin-top: 90%;
          margin-top: 85%;
          margin-bottom: -120%;
          // margin-top: 75%;
          margin-left: auto;
          margin-right: auto;
          vertical-align: bottom;
          text-align: center;
          font-family: 'Exo-Regular' !important;
          font-weight: nb-theme(font-weight-bold);
          font-size: 8px;
          width: 100%;
          // font-size: 2.4vw;
          font-size: 3.5vw;
          color: #000; font-weight: 600
      }
    }
  
    @media only screen and (min-width: 768px) {
      .square {
          float: left;
          // width: 30%;
          width: 14%;
          // padding-bottom: 18%;
          padding-bottom: 8% !important;
          margin: 1.3%;
          background-color: #fff !important;
          font-size: 1rem;
          line-height: 1.25;
          // background: #212121;
          background: nb-theme(color-bg);
          color: #ffffff;
          color: nb-theme(color-fg-heading);
          margin-bottom: 4.5em !important;
          border-radius: 0.5rem;
          box-shadow: 0 3px 5px -3px #333;
          font-weight: 400;
          cursor: pointer;
          border: 2px solid#c1c1c0;
          border-radius: 20px !important;
      }
      .contentss {
          height: 150% !important;
          width: auto;
          display: block;
          margin-bottom: -80% !important;
          margin-top: 10% !important;
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: nb-theme(card-border-radius);
          border-top-right-radius: nb-theme(card-border-radius);
      }
      .textt {
          display: block;
          margin-bottom: -170% !important;
          margin-top: 120% !important;
          margin-left: auto;
          margin-right: auto;
          vertical-align: bottom;
          text-align: center;
          font-family: 'Exo-Regular' !important;
          font-weight: nb-theme(font-weight-bold);
          font-size: 8px;
          width: 100%;
          // font-size: 2.4vw;
          font-size: 2vw;
          color: #000; font-weight: 600
      }
  
      .apasi{
          background-color: transparent;
          height: 400px;
          margin-left: 10px;
          margin-right: 10px;
          margin-top:65px;
          margin-bottom:15px;
          width: -webkit-fill-available;
  
      }
    }
    //fix
    @media only screen and (min-width: 1024px) {
      .square {
          float: left;
          // width: 30%;
          width: 14%;
          // padding-bottom: 18%;
          // padding-bottom: 13%;
          padding-bottom: 9% !important;
          margin: 1.3%;
          background-color: rgba(255, 255, 255, 0.45);
          font-size: 1rem;
          line-height: 1.25;
          // background: #212121;
          background: nb-theme(color-bg);
          color: #ffffff;
          color: nb-theme(color-fg-heading);
          margin-bottom: 4.5em !important;
          border-radius: 0.5rem;
          box-shadow: 0 3px 5px -3px #333;
          font-weight: 400;
          cursor: pointer;
          border: 2px solid#c1c1c0;
          border-radius: 5px;
      }
      .contentss {
          height: 200% !important;
          width: auto;
          display: block;
          // margin-bottom: -60%;
          // margin-top: 10%;
          margin-bottom: -65% !important;
          margin-top: 20% !important;
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: nb-theme(card-border-radius);
          border-top-right-radius: nb-theme(card-border-radius);
      }
      .textt {
          display: block;
          // margin-bottom: -88%;
          // margin-bottom: -130%;
          // margin-top: 75%;
          margin-bottom: -150% !important;
      margin-top: 92% !important;
          margin-left: auto;
          margin-right: auto;
          vertical-align: bottom;
          text-align: center;
          font-family: 'Exo-Regular' !important;
          font-weight: nb-theme(font-weight-bold);
          font-size: 8px;
          width: 100%;
          // font-size: 2.4vw;
          font-size: 2vw;
          color: #000; font-weight: 600
      }
      .dalemheader{
          background-color: transparent;
          height: 400px;
          margin-left: 10px;
          margin-right: 10px;
          margin-top:65px;
          margin-bottom:15px;
          width: -webkit-fill-available;
      }
    }
  
    //  -------------END POTRAIT SQUARE ------------------- //
    //  ------------- LANDSCAPE SQUARE ------------------- //
    @media only screen and (min-width: 640px) {
      .square {
          float: left;
          // width: 30%;
          width: 14%;
          // padding-bottom: 18%;
          padding-bottom: 8%;
          margin: 1.3%;
          background-color: rgba(255, 255, 255, 0.45);
          font-size: 1rem;
          line-height: 1.25;
          // background: #212121;
          background: nb-theme(color-bg);
          color: #ffffff;
          color: nb-theme(color-fg-heading);
          margin-bottom: 1.5rem;
          border-radius: 0.5rem;
          box-shadow: 0 3px 5px -3px #333;
          font-weight: 400;
          cursor: pointer;
          border: 2px solid#c1c1c0;
          border-radius: 5px;
      }
      .contentss {
          height: 130%;
          width: auto;
          display: block;
          margin-bottom: -60%;
          margin-top: 10%;
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: nb-theme(card-border-radius);
          border-top-right-radius: nb-theme(card-border-radius);
      }
      .textt {
          display: block;
          // margin-bottom: -88%;
          margin-bottom: -150%;
          margin-top: 75%;
          margin-left: auto;
          margin-right: auto;
          vertical-align: bottom;
          text-align: center;
          font-family: 'Exo-Regular' !important;
          font-weight: nb-theme(font-weight-bold);
          font-size: 8px;
          width: 100%;
          // font-size: 2.4vw;
          font-size: 2vw;
          color: #000; font-weight: 600
      }
    }
  
    @media only screen and (min-width: 731px) {
      .square {
          float: left;
          // width: 30%;
          width: 14%;
          // padding-bottom: 18%;
          padding-bottom: 8%;
          margin: 1.3%;
          background-color: rgba(255, 255, 255, 0.45);
          font-size: 1rem;
          line-height: 1.25;
          // background: #212121;
          background: nb-theme(color-bg);
          color: #ffffff;
          color: nb-theme(color-fg-heading);
          margin-bottom: 1.5rem;
          border-radius: 0.5rem;
          box-shadow: 0 3px 5px -3px #333;
          font-weight: 400;
          cursor: pointer;
          border: 2px solid#c1c1c0;
          border-radius: 5px;
      }
      .contentss {
          height: 170%;
          width: auto;
          display: block;
          margin-bottom: -60%;
          margin-top: 10%;
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: nb-theme(card-border-radius);
          border-top-right-radius: nb-theme(card-border-radius);
      }
      .textt {
          display: block;
          // margin-bottom: -88%;
          margin-bottom: -150%;
          margin-top: 75%;
          margin-left: auto;
          margin-right: auto;
          vertical-align: bottom;
          text-align: center;
          font-family: 'Exo-Regular' !important;
          font-weight: nb-theme(font-weight-bold);
          font-size: 8px;
          width: 100%;
          // font-size: 2.4vw;
          font-size: 1.8vw;
          color: #000; font-weight: 600
      }
    }
  
    @media only screen and (min-width: 823px) {
      .square {
          float: left;
          // width: 30%;
          width: 14%;
          // padding-bottom: 18%;
          padding-bottom: 12%;
          margin: 1.3%;
          background-color: rgba(255, 255, 255, 0.45);
          font-size: 1rem;
          line-height: 1.25;
          // background: #212121;
          background: nb-theme(color-bg);
          color: #ffffff;
          color: nb-theme(color-fg-heading);
          margin-bottom: 1.5rem;
          border-radius: 0.5rem;
          box-shadow: 0 3px 5px -3px #333;
          font-weight: 400;
          cursor: pointer;
          border: 2px solid#c1c1c0;
          border-radius: 5px;
      }
      .contentss {
          height: 650%;
          width: auto;
          display: block;
          margin-bottom: -60%;
          margin-top: 10%;
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: nb-theme(card-border-radius);
          border-top-right-radius: nb-theme(card-border-radius);
      }
      .textt {
          display: block;
          // margin-bottom: -88%;
          margin-bottom: -150%;
          margin-top: 75%;
          margin-left: auto;
          margin-right: auto;
          vertical-align: bottom;
          text-align: center;
          font-family: 'Exo-Regular' !important;
          font-weight: nb-theme(font-weight-bold);
          font-size: 8px;
          width: 100%;
          // font-size: 2.4vw;
          font-size: 1.8vw;
          color: #000; font-weight: 600
      }
    }
  
    @media only screen and (min-width: 568px) {
      .square {
          float: left;
          // width: 30%;
          width: 14%;
          // padding-bottom: 18%;
          padding-bottom: 6%;
          margin: 1.3%;
          background-color: rgba(255, 255, 255, 0.45);
          font-size: 1rem;
          line-height: 1.25;
          // background: #212121;
          background: nb-theme(color-bg);
          color: #ffffff;
          color: nb-theme(color-fg-heading);
          margin-bottom: 1.5rem;
          border-radius: 0.5rem;
          box-shadow: 0 3px 5px -3px #333;
          font-weight: 400;
          cursor: pointer;
          border: 2px solid#c1c1c0;
          border-radius: 5px;
      }
      .contentss {
          height: 100%;
          width: auto;
          display: block;
          margin-bottom: -60%;
          margin-top: 10%;
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: nb-theme(card-border-radius);
          border-top-right-radius: nb-theme(card-border-radius);
      }
      .textt {
          display: block;
          // margin-bottom: -88%;
          margin-bottom: -150%;
          margin-top: 75%;
          margin-left: auto;
          margin-right: auto;
          vertical-align: bottom;
          text-align: center;
          font-family: 'Exo-Regular' !important;
          font-weight: nb-theme(font-weight-bold);
          font-size: 8px;
          width: 100%;
          // font-size: 2.4vw;
          font-size: 2vw;
          color: #000; font-weight: 600
      }
    }
  
    @media only screen and (min-width: 667px) {
      .square {
          float: left;
          // width: 30%;
          width: 14%;
          // padding-bottom: 18%;
          padding-bottom: 8%;
          margin: 1.3%;
          background-color: rgba(255, 255, 255, 0.45);
          font-size: 1rem;
          line-height: 1.25;
          // background: #212121;
          background: nb-theme(color-bg);
          color: #ffffff;
          color: nb-theme(color-fg-heading);
          margin-bottom: 1.5rem;
          border-radius: 0.5rem;
          box-shadow: 0 3px 5px -3px #333;
          font-weight: 400;
          cursor: pointer;
          border: 2px solid#c1c1c0;
          border-radius: 5px;
      }
      .contentss {
          height: 140%;
          width: auto;
          display: block;
          margin-bottom: -60%;
          margin-top: 10%;
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: nb-theme(card-border-radius);
          border-top-right-radius: nb-theme(card-border-radius);
      }
      .textt {
          display: block;
          // margin-bottom: -88%;
          margin-bottom: -150%;
          margin-top: 75%;
          margin-left: auto;
          margin-right: auto;
          vertical-align: bottom;
          text-align: center;
          font-family: "Exo-Regular";
          font-weight: nb-theme(font-weight-bold);
          font-size: 8px;
          width: 100%;
          // font-size: 2.4vw;
          font-size: 1.8vw;
          color: #000; font-weight: 600
      }
    }
  
    @media only screen and (min-width: 736px) {
      .square {
          float: left;
          // width: 30%;
          width: 14%;
          // padding-bottom: 18%;
          padding-bottom: 10%;
          margin: 1.3%;
          background-color: rgba(255, 255, 255, 0.45);
          font-size: 1rem;
          line-height: 1.25;
          // background: #212121;
          background: nb-theme(color-bg);
          color: #ffffff;
          color: nb-theme(color-fg-heading);
          margin-bottom: 1.5rem;
          border-radius: 0.5rem;
          box-shadow: 0 3px 5px -3px #333;
          font-weight: 400;
          cursor: pointer;
          border: 2px solid#c1c1c0;
          border-radius: 5px;
      }
      .contentss {
          height: 230%;
          width: auto;
          display: block;
          margin-bottom: -60%;
          margin-top: 10%;
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: nb-theme(card-border-radius);
          border-top-right-radius: nb-theme(card-border-radius);
      }
      .textt {
          display: block;
          // margin-bottom: -88%;
          margin-bottom: -150%;
          margin-top: 75%;
          margin-left: auto;
          margin-right: auto;
          vertical-align: bottom;
          text-align: center;
          font-family: 'Exo-Regular' !important;
          font-weight: nb-theme(font-weight-bold);
          font-size: 8px;
          width: 100%;
          // font-size: 2.4vw;
          font-size: 1.8vw;
          color: #000; font-weight: 600
      }
    }
  
    @media only screen and (min-width: 812px) {
      .square {
          float: left;
          // width: 30%;
          width: 14%;
          // padding-bottom: 18%;
          padding-bottom: 13%;
          margin: 1.3%;
          background-color: rgba(255, 255, 255, 0.45);
          font-size: 1rem;
          line-height: 1.25;
          // background: #212121;
          background: nb-theme(color-bg);
          color: #ffffff;
          color: nb-theme(color-fg-heading);
          margin-bottom: 1.5rem;
          border-radius: 0.5rem;
          box-shadow: 0 3px 5px -3px #333;
          font-weight: 400;
          cursor: pointer;
          border: 2px solid#c1c1c0;
          border-radius: 5px;
      }
      .contentss {
          height: 630%;
          width: auto;
          display: block;
          margin-bottom: -60%;
          margin-top: 10%;
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: nb-theme(card-border-radius);
          border-top-right-radius: nb-theme(card-border-radius);
      }
      .textt {
          display: block;
          // margin-bottom: -88%;
          margin-bottom: -150%;
          margin-top: 75%;
          margin-left: auto;
          margin-right: auto;
          vertical-align: bottom;
          text-align: center;
          font-family: 'Exo-Regular' !important;
          font-weight: nb-theme(font-weight-bold);
          font-size: 8px;
          width: 100%;
          // font-size: 2.4vw;
          font-size: 1.8vw;
          color: #000; font-weight: 600
      }
    }
  
    @media only screen and (min-width: 1024px) {
      .square {
          float: left;
          // width: 30%;
          width: 14%;
          // padding-bottom: 18%;
          padding-bottom: 13%;
          margin: 1.3%;
          background-color: rgba(255, 255, 255, 0.45);
          font-size: 1rem;
          line-height: 1.25;
          // background: #212121;
          background: nb-theme(color-bg);
          color: #ffffff;
          color: nb-theme(color-fg-heading);
          margin-bottom: 1.5rem;
          border-radius: 0.5rem;
          box-shadow: 0 3px 5px -3px #333;
          font-weight: 400;
          cursor: pointer;
          border: 2px solid#c1c1c0;
          border-radius: 5px;
      }
      .contentss {
          height: 550%;
          width: auto;
          display: block;
          margin-bottom: -60%;
          margin-top: 10%;
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: nb-theme(card-border-radius);
          border-top-right-radius: nb-theme(card-border-radius);
      }
      .textt {
          display: block;
          // margin-bottom: -88%;
          margin-bottom: -125%;
          margin-top: 75%;
          margin-left: auto;
          margin-right: auto;
          vertical-align: bottom;
          text-align: center;
          font-family: 'Exo-Regular' !important;
          font-weight: nb-theme(font-weight-bold);
          font-size: 8px;
          width: 100%;
          // font-size: 2.4vw;
          font-size: 1.8vw;
          color: #000; font-weight: 600
      }
    }
  
    @media only screen and (min-width: 1366px) {
      .square {
          float: left;
          // width: 30%;
          width: 12%;
          // padding-bottom: 18%;
          padding-bottom: 10%;
          margin: 1.3%;
          background-color: rgba(255, 255, 255, 0.45);
          font-size: 1rem;
          line-height: 1.25;
          // background: #212121;
          background: nb-theme(color-bg);
          color: #ffffff;
          color: nb-theme(color-fg-heading);
          margin-bottom: 1.5rem;
          border-radius: 0.5rem;
          box-shadow: 0 3px 5px -3px #333;
          font-weight: 400;
          cursor: pointer;
          border: 2px solid#c1c1c0;
          border-radius: 5px;
      }
      .contentss {
          height: 240%;
          width: auto;
          display: block;
          margin-bottom: -41%;
          margin-top: 10%;
          margin-left: auto;
          margin-right: auto;
          border-top-left-radius: nb-theme(card-border-radius);
          border-top-right-radius: nb-theme(card-border-radius);
      }
      .textt {
          display: block;
          // margin-bottom: -88%;
          margin-bottom: -125%;
          margin-top: 75%;
          margin-left: auto;
          margin-right: auto;
          vertical-align: bottom;
          text-align: center;
          font-family: 'Exo-Regular' !important;
          font-weight: nb-theme(font-weight-bold);
          font-size: 8px;
          width: 100%;
          // font-size: 2.4vw;
          font-size: 1.5vw;
          color: #000; font-weight: 600
      }
    }
  
    .div-welcome {
      height: 40px;
      // background-color: #ffffff36;
      // background-color: #ffffff87;
      background-color: #ffffff;
      margin-top: 0px;
      // margin-bottom: 1rem;
      margin-left: 0px;
    }
  
    .div-welcome-title {
      text-align: left;
      font-size: 1.5rem !important;
      color: #222;
      font-size: 12px;
      margin-top: 0px !important;
      // margin-left: 10px;
      font-family: 'Exo-Regular' !important;
      padding-top: 10px;
      padding-left: 5px;
      font-weight: 600;
    }
  
    .grid-example {
      padding: 10px 5px 0px 5px;
      flex-wrap: wrap;
      .grid-item {
          padding: 0px 5px 10px;
          &>.double-item {
              &>.grid-item {
                  padding: 5px 0px;
                  &:first-child {
                      padding-top: 0px;
                  }
                  &:last-child {
                      padding-bottom: 0px;
                  }
              }
          }
          .grid-item-wrapper {
              position: relative;
              padding-bottom: 100%;
              height: 50px;
              margin-bottom: 5px;
              // background-color: $white-c;
              .pdfIco {
                position: relative;
                float: left;
                z-index: 2;
                width: 38px;
                padding-top: 2.3%;
                padding-left: 2%;
              }
              .grid-item-inner {
                  height: 100%;
                  width: 100%;
                  position: absolute;
                  display: flex;
                  justify-content: left;
                  // justify-content: center;
                  align-items: center;
                  background-color: #ff720d;
                  border-radius: 5px;
                  .item-title {
                      margin: 0px;
                      // color: $black-c;
                      color: #fff;
                      text-align: center;
                      margin-left: 55px;
                  }
                  &.multi-line {
                      flex-wrap: wrap;
                      .item-title {
                          flex: 0 0 100%;
                          max-width: 100%;
                          margin: 5px 0px;
                      }
                  }
              }
          }
      }
    }
    .grid-example .grid-item {
      padding-bottom: 2px !important;
    }
    // taro dalem
  }
  
  
  