<ion-header>
        <ion-navbar>
            <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
            <ion-title>
                <span>Unit Enquiry</span>
            </ion-title>
        </ion-navbar>
    </ion-header>
    <ion-content>
        <ion-scroll scrollX="true" scrollY="true">
                <div class="froze-panes">
                        <table class="table">
                                <thead>
                                  <tr class="header">
                                    <th class="col" style="position:fixed;width:100%; left:0;text-align:left;padding-top:10px;">Type</th>
                                    <th class="col2" style="position:fixed;text-align: left;padding-top:10px;"[attr.colspan]="clspn">Unit</th>
                                    
                                  </tr>
                                </thead>
                                <br><br>
                                <tbody >                                
                                      <tr *ngFor="let level of blocks; let i=index">
                                        <td class="col" style="position:absolute;width:100%; left:0;z-index:-10;font-weight: 600;">
                                                
                                                        {{ level.descs }}
                                                
                                                               
                                                       
                                        </td>
                                       
                                       
                                        <ng-container *ngFor="let item of units | unitfilter:level.level_no" >
                                               
                                                <td class="col" style="z-index:-1;background-color:rgb(235, 235, 235)">
                                                   
                                                    <div class="square"  (click)="goToUnitInfo(item)" [ngStyle]="item.style">
                                                            
                                                            <div class="textt2">
                                                                <h2 class="item-title"> {{item.lot}} </h2>
                                                               
                                                                <p *ngIf="item.studios;then s;else b"></p>
                                                                <ng-template #s>
                                                                    <h2 class="item-title">{{item.descs}}</h2>
                                                                </ng-template>
                                                                <ng-template #b>
                                                                    <h4 class="item-title"><img style="width:20px !important;" src="./assets/images/bed.png">&nbsp;: {{item.bed}} | <img style="width:20px !important;" src="./assets/images/bathtub.png">&nbsp;: {{item.bath}}</h4>
                                                                </ng-template>
                                                            </div>
                                                        </div>
                                                </td>
                                                
                                        </ng-container>
                                      </tr>
                                </tbody>
    
                                
                        </table>
                       
                    </div>
        
        <!-- <div class="row header">
            <div class="col">Utility Company Name</div>
            <div class="col">Service Code</div>
            <div class="col">Pay Limit</div>
            <div class="col">Account Number to Use</div>   
        </div>
          <div class="row" *ngFor="let data of blocks">
            <div class="col">{{data.level_no}}</div>
            <div class="col">{{data.descs}}</div>
            <div class="col">LK {{data.pict}}</div>
            <div class="col">{{data.account}}</div>
            
          </div> -->
        </ion-scroll>
    </ion-content>
    