<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>
            <span>Choose Customers</span>
            <!-- <span>Choose Reservations</span> -->
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="feed-content" *ngIf="available; else na" style="background-color: #f3f3f3 !important">
    <!-- <div class="row"> -->
    <div class="feed-item" *ngFor="let Res of myRes" (click)="goReserve(Res)">
        <ion-card>
            <!-- <img [src]="pro.pic_path" title="pro.descs" style="width: 165px !important;height: 100px !important;"> -->
            <!-- <img [src]="pro.pic_path" onerror="this.src='./assets/images/noimage.png';" title="pro.descs"> -->
            <ion-card-content>
                <ion-card-title class="item-title">
                    <b style="font-size:15px;text-align:left;">{{Res.ProjectName}}</b><span>
                        <!-- <b style="font-size:15px;float:right;color:red">{{Res.StatusText}}</b> -->
                        <b [style.color]="Res.style" style="font-size:15px;float:right;">{{Res.StatusText}}</b>
                    </span>

                </ion-card-title>
                <table>
                    <tr>
                        <td width="40%" style="vertical-align: text-top;">
                            Buyer :
                            <p>{{Res.Name}}</p>
                            <p style="color:#02da00"> {{Res.Phone}}</p>
                        </td>

                        <td width="30%" style="vertical-align: text-top;">
                            {{Res.Property}} | {{Res.Level}} <br>
                            <span *ngIf="Res.Studio">{{Res.LotTypeDesc}} </span>
                            <br><span style="color:#ff720d;font-weight:600">{{Res.LotNo}}</span>
                            <span *ngIf="!Res.Studio">
                        <img style="width:20px !important;" src="./assets/images/bed.png">&nbsp;: {{Res.Bed}} | <img style="width:20px !important;" src="./assets/images/bathtub.png">&nbsp;: {{Res.Bath}} | {{Res.LotNo}}
                      </span>
                        </td>
                        <!-- <td align="center" width="20%" style="vertical-align: text-top;">
                            {{Res.StatusText}} -->
                        <!-- <span *ngIf="Res.Status == 'S'">
                        <button (click)="goReserve(Res)" class="btn-oren-kecil">Edit</button>
                      </span>
                            <span *ngIf="Res.Status != 'S'">
                        <button (click)="goReserveView(Res)" class="btn-oren-kecil">View</button>
                      </span> -->
                        <!-- </td> -->
                    </tr>
                </table>

            </ion-card-content>

        </ion-card>
    </div>
    <!-- </div> -->
</ion-content>

<ng-template #na>
    <ion-content class="feed-content" style="background-color: #f3f3f3 !important">
        <!-- <div class="row"> -->
        <div class="feed-item">
            <ion-card>
                <ion-card-content>
                    <ion-card-title class="item-title">
                        No Reservation Available
                    </ion-card-title>
                </ion-card-content>

            </ion-card>
        </div>
        <!-- </div> -->
    </ion-content>
</ng-template>